{% extends 'admin/w_master.html' %}

{% block body %}
    <section>
        <h2>{{ verb }} {{ (name + '<small>(Partner)</small>'|safe) if name else 'a Partner' }}</h2>
        
        <form action="" method="post" class="form-inline">
            <label class="control-label" for="name">Name</label>
            <input type="text" id="name" name="name" placeholder="Name" required="required" value="{{ name }}" />
            <button type="submit" class="btn btn-success"><i class="icon-{{ ico }} icon-white"></i> {{ action }}</button>
            <a href="{{ url_for('accounts.index') }}" class="btn btn-link">Cancel</a>
        </form>

    </section>

{% endblock %}
