{% extends admin_base_template %}

{% macro horizontal_input(input, labeled=true) %}
  <div class="control-group{% if input.errors %} warning{% endif %}">
    {% if labeled %}
      <label class="control-label" for="{{ input.id }}">{{ input.label.text }}</label>
    {% endif %}
    <div class="controls">
      {{ input }}
      {% if input.errors %}
        <span class="help-inline">{{ input.errors.0 }}</span>
      {% endif %}
    </div>
  </div>
{% endmacro %}

{% block body %}

  <section class="page col-sm-10 col-lg-8 col-offset-2">
    <header class="page-header">
      <h2>{{ verb }} {{ (form.name.data + ' <small>(Administrator)</small>'|safe) if form.name.data else 'an Administrator' }}</h2>
      <p>Administrator accounts have full access to add, modify, and remove all content and accounts.</p>
    </header>
    <form action="" method="post" class="form-horizontal">
      {{ form.csrf_token }}
      {{ horizontal_input(form.name) }}
      {{ horizontal_input(form.email) }}
      {{ horizontal_input(form.password) }}
      {% set buttons='
        <button type="submit" class="btn btn-success">
          <i class="icon-' + ico + ' icon-white"></i> ' + action + ' Admin
        </button>
        <a href="' + url_for('accounts.index') + '" class="btn btn-link">
          Cancel
        </a>
      ' %}
      {{ horizontal_input(buttons|safe, labeled=false) }}
    </form>
  </section>

{% endblock %}
