{% extends admin_base_template %}

{% block body %}
  <section>

    <h2>New Password for {{ admin.name }} <small>({{ admin.username }})</small></h2>
    <p>Once you change this, the old password will no longer work.</p>

    <form action="{{ url_for('accounts.new_password', id=admin.id) }}" method="post" class="form-inline">
      <input type="hidden" name="csrf_token" id="csrf_token" value="{{ csrf_token() }}" />
      <label class="control-label" for="password">New Password</label>
      <input type="password" id="password" name="password" placeholder="New Password" required="required" />
      <button type="submit" class="btn btn-danger"><i class="icon-exclamation-sign icon-white"></i> Save new password</button>
      <a href="{{ url_for('accounts.index') }}" class="btn btn-link">Cancel</a>
    </form>

  </section>
{% endblock %}
