
section {
    margin: 40px 0 60px;
}

.table tr:first-child td,
.table tr:first-child th {
    border-top-color: transparent;
}

tr .row-hover-show {
    opacity: 0;
}

tr:hover .row-hover-show {
    opacity: 1;
}

.home-unfeature {
    opacity: 0.25;
}
.home-unfeature:hover {
    opacity: 0.5;
}
.home-feature:hover {
    opacity: 0.667;
}
