@font-face {
    font-family: 'icomoon';
    src:url('../fonts/icomoon.eot');
    src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.woff') format('woff'),
        url('../fonts/icomoon.ttf') format('truetype'),
        url('../fonts/icomoon.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[data-icon]:before {
    font-family: 'icomoon';
    content: attr(data-icon);
    speak: none;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

.map-controls {
    margin-top: 20px;
}

.map .breadcrumb {
    margin: 0;
    padding: 0;
}

.map {
    margin-bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    min-height: 140px;
}

.tree {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: -20px auto 20px;
  display: block;
  position: relative;
  font: 14px/28px "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #dedede;
  border: 1px solid #e3e3e3;
  border-radius: 0 0 3px 3px;
  border-top: none;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  z-index: 1;
}
.tree ul, .tree li {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}
.tree ul {
  width: 33.33333%;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}
.tree ul ul {
  width: 100%;
  box-shadow: none;
}
.tree ul ul:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 100%;
  height: 100%;
  width: 100%;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  z-index: -1;
}
.tree li {
  position: relative;
  min-height: 0;
  opacity: 0;
  background: #fdfdfd;
}
.tree li:nth-child(2n+1) {
  background: #ededed;
}
.tree li:nth-child(2n+1) li {
  background: #fdfdfd;
}
.tree li:nth-child(2n+1) li:nth-child(2n) {
  background: #ededed;
}
.tree li:nth-last-child(1) {
  -webkit-transition: min-height 0.16s ease-out 0.45s, opacity 0.16s ease-out 0.45s, background 0.5s ease 0.68s;
  -moz-transition: min-height 0.16s ease-out 0.45s, opacity 0.16s ease-out 0.45s, background 0.5s ease 0.68s;
  -o-transition: min-height 0.16s ease-out 0.45s, opacity 0.16s ease-out 0.45s, background 0.5s ease 0.68s;
  transition: min-height 0.16s ease-out 0.45s, opacity 0.16s ease-out 0.45s, background 0.5s ease 0.68s;
}
.tree li:nth-last-child(2) {
  -webkit-transition: min-height 0.16s ease-out 0.5s, opacity 0.16s ease-out 0.5s, background 0.5s ease 0.68s;
  -moz-transition: min-height 0.16s ease-out 0.5s, opacity 0.16s ease-out 0.5s, background 0.5s ease 0.68s;
  -o-transition: min-height 0.16s ease-out 0.5s, opacity 0.16s ease-out 0.5s, background 0.5s ease 0.68s;
  transition: min-height 0.16s ease-out 0.5s, opacity 0.16s ease-out 0.5s, background 0.5s ease 0.68s;
}
.tree li:nth-last-child(3) {
  -webkit-transition: min-height 0.16s ease-out 0.55s, opacity 0.16s ease-out 0.55s, background 0.5s ease 0.68s;
  -moz-transition: min-height 0.16s ease-out 0.55s, opacity 0.16s ease-out 0.55s, background 0.5s ease 0.68s;
  -o-transition: min-height 0.16s ease-out 0.55s, opacity 0.16s ease-out 0.55s, background 0.5s ease 0.68s;
  transition: min-height 0.16s ease-out 0.55s, opacity 0.16s ease-out 0.55s, background 0.5s ease 0.68s;
}
.tree li:nth-last-child(4) {
  -webkit-transition: min-height 0.16s ease-out 0.6s, opacity 0.16s ease-out 0.6s, background 0.5s ease 0.68s;
  -moz-transition: min-height 0.16s ease-out 0.6s, opacity 0.16s ease-out 0.6s, background 0.5s ease 0.68s;
  -o-transition: min-height 0.16s ease-out 0.6s, opacity 0.16s ease-out 0.6s, background 0.5s ease 0.68s;
  transition: min-height 0.16s ease-out 0.6s, opacity 0.16s ease-out 0.6s, background 0.5s ease 0.68s;
}
.tree li:nth-last-child(5) {
  -webkit-transition: min-height 0.16s ease-out 0.65s, opacity 0.16s ease-out 0.65s, background 0.5s ease 0.68s;
  -moz-transition: min-height 0.16s ease-out 0.65s, opacity 0.16s ease-out 0.65s, background 0.5s ease 0.68s;
  -o-transition: min-height 0.16s ease-out 0.65s, opacity 0.16s ease-out 0.65s, background 0.5s ease 0.68s;
  transition: min-height 0.16s ease-out 0.65s, opacity 0.16s ease-out 0.65s, background 0.5s ease 0.68s;
}
.tree li:nth-last-child(6) {
  -webkit-transition: min-height 0.16s ease-out 0.7s, opacity 0.16s ease-out 0.7s, background 0.5s ease 0.68s;
  -moz-transition: min-height 0.16s ease-out 0.7s, opacity 0.16s ease-out 0.7s, background 0.5s ease 0.68s;
  -o-transition: min-height 0.16s ease-out 0.7s, opacity 0.16s ease-out 0.7s, background 0.5s ease 0.68s;
  transition: min-height 0.16s ease-out 0.7s, opacity 0.16s ease-out 0.7s, background 0.5s ease 0.68s;
}
.tree li:nth-last-child(7) {
  -webkit-transition: min-height 0.16s ease-out 0.75s, opacity 0.16s ease-out 0.75s, background 0.5s ease 0.68s;
  -moz-transition: min-height 0.16s ease-out 0.75s, opacity 0.16s ease-out 0.75s, background 0.5s ease 0.68s;
  -o-transition: min-height 0.16s ease-out 0.75s, opacity 0.16s ease-out 0.75s, background 0.5s ease 0.68s;
  transition: min-height 0.16s ease-out 0.75s, opacity 0.16s ease-out 0.75s, background 0.5s ease 0.68s;
}
.tree li li {
  left: 100%;
}
.tree li.selected {
  background: whitesmoke;
}
.tree li.selected li.selected:before {
  content: "»";
  display: block;
  position: absolute;
  right: 100%;
  -webkit-transition: opacity 0.5s ease 0.68s;
  -moz-transition: opacity 0.5s ease 0.68s;
  -o-transition: opacity 0.5s ease 0.68s;
  transition: opacity 0.5s ease 0.68s;
}
.tree a {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 9px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-decoration: none;
  color: inherit;
  -webkit-transition: background 0.12s;
  -moz-transition: background 0.12s;
  -o-transition: background 0.12s;
  transition: background 0.12s;
  z-index: 1;
}
.tree a:before {
  content: "";
  display: block;
  height: 50%;
  margin-top: -14px;
  z-index: 2;
}
.tree li:hover > a,
.tree a:hover + ul a {
  background: #8ab7de;
}
.tree li > a:hover {
  background: #428bca;
  color: white;
}

.tree:hover li,
.tree li.selected {
  min-height: 28px;
  opacity: 1;
}

.tree:hover li {
  background: #fdfdfd;
}
.tree:hover li:nth-child(2n+1) {
  background: #ededed;
}
.tree:hover li:nth-child(2n+1) li {
  background: #fdfdfd;
}
.tree:hover li:nth-child(2n+1) li:nth-child(2n) {
  background: #ededed;
}
.tree:hover li:nth-child(1) {
  -webkit-transition: min-height 0.16s ease-in 0.05s, opacity 0.16s ease-in 0.05s;
  -moz-transition: min-height 0.16s ease-in 0.05s, opacity 0.16s ease-in 0.05s;
  -o-transition: min-height 0.16s ease-in 0.05s, opacity 0.16s ease-in 0.05s;
  transition: min-height 0.16s ease-in 0.05s, opacity 0.16s ease-in 0.05s;
}
.tree:hover li:nth-child(2) {
  -webkit-transition: min-height 0.16s ease-in 0.1s, opacity 0.16s ease-in 0.1s;
  -moz-transition: min-height 0.16s ease-in 0.1s, opacity 0.16s ease-in 0.1s;
  -o-transition: min-height 0.16s ease-in 0.1s, opacity 0.16s ease-in 0.1s;
  transition: min-height 0.16s ease-in 0.1s, opacity 0.16s ease-in 0.1s;
}
.tree:hover li:nth-child(3) {
  -webkit-transition: min-height 0.16s ease-in 0.15s, opacity 0.16s ease-in 0.15s;
  -moz-transition: min-height 0.16s ease-in 0.15s, opacity 0.16s ease-in 0.15s;
  -o-transition: min-height 0.16s ease-in 0.15s, opacity 0.16s ease-in 0.15s;
  transition: min-height 0.16s ease-in 0.15s, opacity 0.16s ease-in 0.15s;
}
.tree:hover li:nth-child(4) {
  -webkit-transition: min-height 0.16s ease-in 0.2s, opacity 0.16s ease-in 0.2s;
  -moz-transition: min-height 0.16s ease-in 0.2s, opacity 0.16s ease-in 0.2s;
  -o-transition: min-height 0.16s ease-in 0.2s, opacity 0.16s ease-in 0.2s;
  transition: min-height 0.16s ease-in 0.2s, opacity 0.16s ease-in 0.2s;
}
.tree:hover li:nth-child(5) {
  -webkit-transition: min-height 0.16s ease-in 0.25s, opacity 0.16s ease-in 0.25s;
  -moz-transition: min-height 0.16s ease-in 0.25s, opacity 0.16s ease-in 0.25s;
  -o-transition: min-height 0.16s ease-in 0.25s, opacity 0.16s ease-in 0.25s;
  transition: min-height 0.16s ease-in 0.25s, opacity 0.16s ease-in 0.25s;
}
.tree:hover li:nth-child(6) {
  -webkit-transition: min-height 0.16s ease-in 0.3s, opacity 0.16s ease-in 0.3s;
  -moz-transition: min-height 0.16s ease-in 0.3s, opacity 0.16s ease-in 0.3s;
  -o-transition: min-height 0.16s ease-in 0.3s, opacity 0.16s ease-in 0.3s;
  transition: min-height 0.16s ease-in 0.3s, opacity 0.16s ease-in 0.3s;
}
.tree:hover li:nth-child(7) {
  -webkit-transition: min-height 0.16s ease-in 0.35s, opacity 0.16s ease-in 0.35s;
  -moz-transition: min-height 0.16s ease-in 0.35s, opacity 0.16s ease-in 0.35s;
  -o-transition: min-height 0.16s ease-in 0.35s, opacity 0.16s ease-in 0.35s;
  transition: min-height 0.16s ease-in 0.35s, opacity 0.16s ease-in 0.35s;
}
.tree:hover li.selected .selected:before {
  opacity: 0;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}


.summary-more {
    margin-bottom: 20px;
}

html,
body {
    height: 100%;
}

.navbar-header a,
.navbar-header span {
  line-height: 32px;
}

#top-wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -80px;
    padding: 0 0 100px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

footer {
    height: 80px;
    padding-top: 28px;
    border-top: 1px solid #ddd;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.navbar {
    border-radius: 0;
    border-bottom: 2px solid #999;
}

.page-header.cover {
    height: 372px;
    /*margin-top: -72px;*/
    margin-top: -20px;
    /*margin-top: -24px;*/
    background: #555 url('../img/cover/resized/rockies2.jpg') 50%;
    position: relative;
}

.page-header.cover h1 {
    position: absolute;
    left: 0;
    margin: 0;
    bottom: 0;
    padding: 0.1em 0.2em 0.1em 0.1em;
    color: #fff;
    text-shadow: 0 0 7px #000;
    background: rgba(0, 0, 0, 0.667);
}


.sponsors {
  text-align: center;
  vertical-align: middle
}
.sponsors span {
  display: inline-block;
  position: relative;
  margin: 2em;
}
.sponsors span:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
.sponsors:hover span:before {
  opacity: 1;
}
.sponsors span.bp:before {
  background: url('../img/sponsors/bp.png');
}
.sponsors span.chevron:before {
  background: url('../img/sponsors/chevron.png');
}
.sponsors span.uottawa:before {
  background: url('../img/sponsors/uottawa.png');
}
.sponsors span.statoil:before {
  background: url('../img/sponsors/statoil.png');
}
.sponsors span.canadian:before {
  background: url('../img/sponsors/canadian-natural.png');
}
.sponsors span.nexen:before {
  background: url('../img/sponsors/nexen.png');
}
.sponsors span.nserc:before {
  background: url('../img/sponsors/nserc.png');
}
.sponsors span.anadarko:before {
  background: url('../img/sponsors/anadarko.png');
}
.sponsors span.husky:before {
  background: url('../img/sponsors/husky.png');
}
