
body {
  background: aliceblue;
}

h1 {
    margin-top: 21%;
    font-size: 4em;
    color: #445;
    text-align: center;
}

small {
    display: inline-block;
    -webkit-transition: -webkit-transform 0.5s;
    -moz-transition: -moz-transform 0.5s;
    -o-transition: -o-transform 0.5s;
    transition: transform 0.5s;
}
small:hover {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

p {
    text-align: center;
    font-size: 0.8em;
    color: #900;
}
