{% extends "base-simple.html" %}

{% block page_header %}{% endblock %}

{% block page_content %}
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul class="list-unstyled">
                {% for category, message in messages %}
                    <li class="alert alert-{{ category }}">{{ message }}<a class="close" data-dismiss="alert" title="dismiss" href="#">&times;</a></li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <div class="page-header">
        <h1>Restricted Access <small>Admins Only</small></h1>
        <p>Please provide your login credentials to continue</p>
    </div>
    <div class="">
        <form method="post" action="{{ url_for('admin.login', next=request.args.get('next')) }}" class="form-horizontal">
            {{ form.csrf_token }}
            <div class="form-group">
                <label for="{{ form.username.id }}" class="control-label col-sm-2">{{ form.username.label.text }}</label>
                <div class="col-sm-6">
                    <input type="text"
                        class="form-control"
                        id="{{ form.username.id }}"
                        name="{{ form.username.name }}"
                        placeholder="{{ form.username.label.text }}"
                        required="required" />
                </div>
            </div>
            <div class="form-group">
                <label for="{{ form.password.id }}" class="control-label col-sm-2">{{ form.password.label.text }}</label>
                <div class="col-sm-6">
                    <input type="password"
                        class="form-control"
                        id="{{ form.password.id }}"
                        name="{{ form.password.name }}"
                        placeholder="{{ form.password.label.text }}"
                        required="required" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-6 col-push-2">
                    <button type="submit" class="btn btn-primary pull-right">Log In</button>
                </div>
            </div>
            {% if form.key %}
                <ul class="list-unstyled">
                    {% for error in form.key.errors %}
                        <li class="alert">{{ error }}<a href="#" class="close" data-dismiss="alert" title="dismiss">&times;</a></li>
                    {% endfor %}
                </ul>
            {% endif %}
        </form>
    </div>
{% endblock %}