{% extends "admin/base.html" %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}" />
{% endblock %}


{% block page_body %}
  <div class="container">
    <div class="navbar">
      <div class="navbar-inner">
        {% block brand %}
        <a class="brand" href="{{ url_for('admin.index') }}">{{ admin_view.admin.name }}</a>
        {% endblock %}
        {% block main_menu %}
        <ul class="nav">
          {{ layout.menu() }}
        </ul>
        {% endblock %}
        {% block menu_links %}
        <ul class="nav pull-right">
          {{ layout.menu_links() }}
        </ul>
        {% endblock %}
        {% block access_control %}
        <ul class="nav pull-right">
          <li class="dropdown">
            <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">{{ current_user.name }}</a>
            <ul class="dropdown-menu" role="menu">
              <li>
                <a href="{{ url_for('admin.logout') }}" tabindex="-1">Log Out</a>
              </li>
            </ul>
          </li>
        </ul>
        {% endblock %}
      </div>
    </div>

    {% with messages = get_flashed_messages(with_categories=True) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="alert{% if category %} alert-{{ category }}{%endif %}">
            <a href="#" class="close" data-dismiss="alert" title="dismiss">&times;</a>
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}

    {% block body %}{% endblock %}
  </div>
{% endblock %}
