{% extends 'admin/master.html' %}

{% block body %}
    <section>
        <h2>Documents</h2>
        <ul>
            <li><a href="">Publication</a></li>
            <li><a href="">Abstract/ Proposal</a></li>
            <li><a href="">Presentation</a></li>
            <li><a href="">Gamma-Ray Data</a></li>
            <li><a href="">Representative Log</a></li>
            <li><a href="">Thesis</a></li>
        </ul>
    </section>
    <section>
        <h2>Photos</h2>
        <p>blah blah</p>
    </section>
{% endblock %}
