{% extends 'admin/w_master.html' %}

{% block body %}
    <section>
        <h2>Overview</h2>
        <p>Development efforts have, so far, focussed on setting up boring backend stuff like databases, <strong>and</strong> on creating a simple, clean <a href="{{ url_for('accounts.index') }}">account system.</a> It should work, please play with it!</p>
        <p>This page will eventually show an overview of content, and a summary of recent events.</p>
        <p class="muted"><em>&mdash; phil</em></p>
        <p><a href="{{ url_for('accounts.index') }}" class="btn btn-primary">Try Out the Account Manager</a></p>
    </section>
{% endblock %}
