{% extends 'admin/w_master.html' %}

{% block body %}
	<section>

		<h3>Private Content</h3>
		<h4><a href="">Document Manager</a></h4>
		<p>Private documents available through the content browser for Consortium Partners.</p>
		<hr />

		<h3>Public Content</h3>
		<h4><a href="">People</a></h4>
		<p>A list of people show on the home page.</p>
		<h4><a href="">Photos</a></h4>
		<p>Scenic photos, including those that rotate for the banner on the home page.</p>
		<h4><a href="">Publications</a></h4>
		<p>Details about publications produced by the Windermere Consortium.</p>
		<hr />

		<h3>Administration</h3>
		<h4><a href="{{ url_for('accounts.index') }}">Account Manager</a></h4>
		<p>Set the Access Key for Consortium Partners, and update administrator accounts.</p>
		<hr />

	</section>
{% endblock %}
