{% extends "base.html" %}


{% block content %}
  <nav class="navbar navbar-inverse">
    {% block nav %}
      <div class="navbar-header">
        <a href="{{ url_for('home') }}" class="navbar-brand">Windermere</a>
        {% if title %}<span class="navbar-text">{{ title }}</span>{% endif %}
      </div>
      <p class="navbar-text pull-right">
        {% if current_user.is_authenticated() %}
          Access unlocked for {{ current_user.name }}
          {% if request.path == '/' %}
            <a href="{{ url_for('topic_overview', coarse='lalala') }}" class="btn btn-primary navbar-button"><span data-icon="r"></span>&nbsp;&nbsp;&nbsp;Content Browser</a>
          {% endif %}
          <a href="{{ url_for('lock') }}" class="btn btn-warning navbar-button ttbuttonbot" data-toggle="tooltip" title="Lock Access"><span data-icon="u"></span><span class="visuallyhidden">Lock Access</span></a> 
        {% else %}
          <a href="{{ url_for('unlock') }}" class="btn btn-success navbar-button"><span data-icon="k"></span>&nbsp;&nbsp;&nbsp;Partner Access</a>
        {% endif %}
      </p>
    {% endblock %}
  </nav>

  {% block page %}
    <div class="page col-sm-10 col-lg-8 col-offset-2">
      {% block page_content %}
      {% endblock %}
    </div>
  {% endblock %}
{% endblock %}


{% block footer %}
  <p class="text-muted text-center">The Windermere Consortium / <a href="{{ url_for('admin.index') }}">admin</a></p>
{% endblock %}
