{% extends "base.html" %}

{% block content %}

    <nav class="navbar navbar-inverse">
        {% block nav %}
            <a href="{{ url_for('home') }}" class="navbar-brand">Windermere</a></li>
        {% endblock %}
    </nav>

    {% block page %}
        <div class="row">
            <div class="page col-sm-10 col-lg-8 col-offset-2">
                {% block page_content %}
                {% endblock %}
            </div>
        </div>
    {% endblock %}

    <footer class="footer col-12">
        <div class="row">
            <div class="col-lg-8 col-offset-2">
                <p class="text-muted text-center">The Windermere Consortium / <a href="{{ url_for('admin.index') }}">admin</a></p>
            </div>
        </div>
    </footer>

{% endblock %}