{% extends "base.html" %}

{% block content %}


    <nav class="navbar">
        {% block nav %}
            <a href="#" class="navbar-brand">Windermere</a></li>
        {% endblock %}
    </nav>

    {% block page %}
        <div class="page col-sm-10 col-lg-8 col-offset-2 row">
            {% block page_header %}
                <header class="page-header">
                    <h1>{{ title }}</h1>
                </header>
            {% endblock %}

            {% block page_content %}
            {% endblock %}
        </div>
    {% endblock %}

    <footer class="footer col-12">
        <p>lalala</p>
    </footer>

{% endblock %}