{% extends 'content-browser.html' %}

{% set title = doc.title %}

{% block page_top %}
  <div class="page-header">
    <p><a href="javascript:history.go(-1)" data-icon="b"> Back to content browser</a></p>
  </div>
{% endblock %}

{% block side %}

  <h3>Details</h3>

  <dl>
    <dt>Authors</dt>
    <dd>
      <p>{{ doc.authors }}</p>
    </dd>

    <dt>Uploaded</dt>
    <dd>
      <p>{{ doc.added }}</p>
    </dd>

    <dt>Type</dt>
    <dd>
      <p>{{ doc.type.name }}</p>
    </dd>

    <dt>Categories</dt>
    <dd>
      {% if doc.categories %}
        <ul class="list-unstyled">
          {% for cat in doc.categories %}
            <li>
              {{ cat.name }}
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    </dd>

    <dt>Download</dt>
    <dd>
      <p><a href="{{ url_for('files', filepath=doc.file) }}">{{ doc.filename }}</a></p>
    </dd>
  </dl>

{% endblock %}

{% block page_main %}

  <h2>{{ doc.title }}</h2>

  <p>{{ doc.description }}</p>

  <p><a href="{{ url_for('files', filepath=doc.file) }}" class="btn btn-primary btn" data-icon="d" title="Download"> Download</a></p>

{% endblock %}
