{% extends 'base-full.html' %}

{% block page_content %}

  {% block page_top %}
    <nav class="tree">
      <ul>
        <li{{ ' class="selected"'|safe if cat_name=='Overview' }}>
          <a href="{{ url_for('topic_overview', filter=request.args.get('filter')) }}">All Categories</a>
        </li>
        {% for cat in categories %}
          <li{{ ' class="selected"'|safe if cat.selected }}>
            <a href="{{ url_for('topic_overview', category=cat.safe, filter=request.args.get('filter')) }}">{{ cat.name }}</a>
            {% if cat.children %}
              <ul>
                {% for subcat in cat.children %}
                  <li{{ ' class="selected"'|safe if subcat.selected }}>
                    <a href="{{ url_for('topic_overview', category=subcat.safe, filter=request.args.get('filter')) }}">{{ subcat.name }}</a>
                    {% if subcat.children %}
                      <ul>
                        {% for subsub in subcat.children %}
                          <li{{ ' class="selected"'|safe if subsub.selected }}>
                            <a href="{{ url_for('topic_overview', category=subsub.safe, filter=request.args.get('filter')) }}">{{ subsub.name }}</a>
                          </li>
                        {% endfor %}
                      </ul>
                    {% endif %}
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </nav>
  {% endblock %}


  <div class="row">

    <div class="col-sm-3 col-lg-2">
      {% block side %}
        <h4>Filter</h4>
        <ul class="nav nav-pills nav-stacked">
            <li class="{% if not filtered %}active{% endif %}">
              <a href=".?">Everything</a>
            </li>
          {% for type, records, count in data %}
            <li class="{% if type.active %}active{% endif %}{% if not count and not type.active %}disabled{% endif %}">
              <a href=".?filter={{ type.name }}">{{ type.plural }}{% if count %} <small class="text-muted">{{ count }}</small>{% endif %}</a>
            </li>
          {% endfor %}
        </ul>
      {% endblock %}
    </div>

    <div class="col-sm-9 col-lg-10">
      {% block page_main %}

        <h2>{{ cat_name }}</h2>

        {% for type, records, count in data %}
          {% if records is not none and count > 0 %}
            <div class="type-summary">
              <h3>{{ type.plural }}</h3>
              <ul class="type-summary-list list-unstyled">
                {% for rec in records %}
                  <li>
                    {% if not list_details %}

                      <p>
                        <a href="{{ url_for('files', filepath=rec.file) }}" class="btn btn-default btn-xs ttbutton" data-icon="d" data-toggle="tooltip" title="Download"><span class="text-hide"> Download</span></a>
                        <a title="{{ rec.description }}" href="{{ url_for('document', id=rec.id) }}">{{ rec.title }}</a>
                        {% if rec.label %}
                          <span class="label label-warning">{{ rec.label }}</span>
                        {% endif %}
                      </p>

                    {% else %}

                      <h4>
                        <a href="{{ url_for('files', filepath=rec.file) }}" class="btn btn-default btn-sm ttbutton" data-icon="d" data-toggle="tooltip" title="Download"><span class="text-hide"> Download</span></a>
                        <a title="{{ rec.description }}" href="{{ url_for('document', id=rec.id) }}">{{ rec.title }}</a>
                      </h4>
                      <p>
                        {% if rec.authors %}<strong>{{ rec.authors }}:</strong> {% endif %}
                        {{ rec.description[:183] }}{% if (rec.description | length) > 183 %}&hellip;{% endif %}
                        <a class="btn btn-default btn-xs" href="{{ url_for('document', id=rec.id) }}">Full Details</a>
                      </p>
                      <hr />

                    {% endif %}
                  </li>
                {% endfor %}
              </ul>
              {% if not filtered and count > 3 %}
                <p>
                  <a href=".?filter={{ type.name }}" class="btn btn-sm btn-default summary-more">
                    View all {{ type.plural }} <span class="text-muted">({{ count }})</span>
                  </a>
                </p>
              {% endif %}
            </div>
          {% endif %}
        {% endfor %}

      {% endblock %}
    </div>

  </div>

{% endblock %}
