{% extends "base-simple.html" %}

{% set title = "Windermere" %}

{% block page_content %}
  <div class="page-header">
    <h1>The Windermere Consortium</h1>
  </div>
  <p>The high cost of exploration drilling in modern offshore areas necessitates a highly resolved understanding of the evolution and architectural elements of passive-margin turbidite systems. The Windermere Supergroup in the south-western Canadian Rockies is a more than 100,000 km2 deep-marine turbidite system hich is analogous in both scale and tectonic setting to modern passive margin petroleum plays. In addition, the superb vertical and lateral continuity of these alpine exposures will allow us to bridge the gap between the features seen on modern fans, in ancient examples, and on industry seismic reflection profiles. Results provide improved appreciation and predictive capabilities in 2D and 3D seismic data from modern passive margin turbidite systems.</p>
{% endblock %}
