{% extends "base-simple.html" %}

{% set title="Log In" %}

{% block page_content %}
    <div class="">
        <form method="post" action=".">
            {{ partner_form.csrf_token }}
            <div class="input-group">
                <span class="input-group-addon">{{ partner_form.key.label.text }}</span>
                <input type="text"
                       id="{{ partner_form.key.id }}"
                       name="{{ partner_form.key.name }}"
                       class="form-control"
                       placeholder="Access Key" />
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-default">Unlock</button>
                </span>
            </div>
        </form>
    </div>
<!--     <div class="col-sm-4 col-lg-3">
        <form method="post" action=".">
            {{ admin_form.csrf_token }}
            <fieldset>
                <legend>Administrative Login</legend>
                <p>For adding content and website management</p>
            </fieldset>
        </form>
    </div> -->
{% endblock %}
