{% extends "base-full.html" %}

{% set title = "Photos" %}

{% block page_content %}

  <div class="page-header">
    <h1>Photo Gallery</h1>
    <p><a href="{{ url_for('home') }}" data-icon="b"> Back to Windermere Home</a></p>
  </div>

  {% for photo in photos %}
    {% if photo.photo %}
      <a href="{{ url_for('photo', type='scenic', filename=photo.photo) if photo.photo }}">
        <img class="col-sm-3" alt="{{ photo.description or photo.title or 'untitled photo' }}" src="{{ url_for('photo', type='scenic', filename=photo.photo, size=293) if photo.photo }}" />
      </a>
    {% endif %}

  {% endfor %}

{% endblock %}
