{% extends admin_base_template %}

{% macro horizontal_input(input, labeled=true) %}
  <div class="control-group{% if input.errors %} warning{% endif %}">
    {% if labeled %}
      <label class="control-label" for="{{ input.id }}">{{ input.label.text }}</label>
    {% endif %}
    <div class="controls">
      {{ input }}
      {% if input.errors %}
        <span class="help-inline">{{ input.errors.0 }}</span>
      {% endif %}
    </div>
  </div>
{% endmacro %}

{% block body %}

  <section class="page photo-form">
    <header class="page-header">
      <h2>Edit {{ ('"' + form.title.data + '"' + ' <small>(Scenic Photo)</small>'|safe) if form.title.data else 'a Scenic Photo' }}</h2>
      <p>Scenic photos appear on the front page, accessible to everyone.</p>
    </header>
    <form action="" method="post" class="form-horizontal pull-left" style="display:block">
      {{ form.csrf_token }}
      {{ horizontal_input(form.title) }}
      {{ horizontal_input(form.description) }}
      {{ horizontal_input(form.featured) }}
      {% set buttons='
        <button type="submit" class="btn btn-success">
          <i class="icon-pencil icon-white"></i> Save Scenic Photo
        </button>
        <a href="' + url_for('photos.index') + '" class="btn btn-link">
          Cancel
        </a>
      ' %}
      {{ horizontal_input(buttons|safe, labeled=false) }}
    </form>
    <div class="span4">
      <img src="{{ url_for('photo', filename=photo.photo + '_small.jpg') }}" alt="{{ photo.description }}" />
    </div>
  </section>

{% endblock %}
