{% extends 'admin/model/list.html' %}

{% block body %}
  <section>

    <h2>Scenic Photos</h2>
    <p>All scenic photos are publicly accessible. Toggle the <i class="icon-home home-unfeature"></i> icon to set/unset photos from being featured on the home page.</p>
    <a href="{{ url_for('.create_view', url=return_url) }}" class="btn"><i class="icon-plus"></i> Add a Photo</a>
    <hr />

    <table class="table table-hover">
      <tr>
        <th>Photo</th>
        <th>Added</th>
        <td></td>
      </tr>
      {% for photo in data %}
        <tr>
          <td>
            <a href="{{ url_for('.edit_view', id=get_pk_value(photo), url=return_url) }}">
              <img width="64" src="{{ url_for('photo', type='scenic', size=64, filename=photo.photo) if photo.photo }}" alt="thumbnail" />
              <strong>{{ photo.title }}</strong>
            </a>
          </td>
          <td>{{ photo.added | since }}</td>
          <td>
            <div class="pull-right">
              <a href="{{ url_for('photos.toggle_feature', id=photo.id) }}" class="btn btn-mini btn-link" title="Feature on home page">
                <i class="icon-home {{ 'home-feature' if photo.featured else 'home-unfeature' }}"></i>
              </a>
              <a href="{{ url_for('.edit_view', id=get_pk_value(photo), url=return_url) }}" class="btn btn-mini btn-link row-hover-show" title="Edit Photo">
                <i class="icon-pencil"></i>
              </a>
              <a href="{{ url_for('.confirm_delete', id=get_pk_value(photo), next=return_url) }}" class="btn btn-mini btn-link row-hover-show" title="Remove Photo">
                <i class="icon-remove"></i>
              </a>
            </div>
          </td>
        </tr>
      {% else %}
        <tr>
          <td colspan="4">
            <div class="alert">
              <strong>No photos!</strong> There are no scenic photos in the database :(
            </div>
          </td>
        </tr>
      {% endfor %}
    </table>
    {{ lib.pager(page, num_pages, pager_url) }}

  </section>
{% endblock %}
