{% extends 'admin/w_master.html' %}

{% block body %}
  <section>
    <h2>Scenic Photos</h2>
    <table class="table table-hover">
      <tr>
        <td></td>
        <th>Description</th>
        <th>Added</th>
        <td></td>
      </tr>
      {% for photo in photos %}
        <tr>
          <th><img width="32" src="{{ url_for('photo', filename=photo.photo + '_small.jpg') }}" alt="thumbnail" /> {{ photo.title }}</th>
          <td>{{ photo.description }}</td>
          <td>{{ photo.added|since }}</td>
          <td>
            <div class="pull-right">
              <a href="{{ url_for('photos.toggle_feature', id=photo.id) }}" class="btn btn-small btn-link" title="Feature on home page"><i class="icon-home {{ 'home-feature' if photo.featured else 'home-unfeature' }}"></i></a>
              <a href="{{ url_for('photos.edit_photo', id=photo.id) }}" class="btn btn-small btn-link row-hover-show" title="Edit Photo"><i class="icon-pencil"></i></a>
              <a href="{{ url_for('photos.remove_photo', id=photo.id) }}" class="btn btn-small btn-link row-hover-show" title="Remove Photo"><i class="icon-remove"></i></a>
            </div>
          </td>
        </tr>
      {% else %}
        <tr>
          <td colspan="4">
            <div class="alert">
              <strong>No photos!</strong> There are no scenic photos in the database :(
            </div>
          </td>
        </tr>
      {% endfor %}
    </table>
    <a href="{{ url_for('photos.add_photo') }}" class="btn"><i class="icon-plus"></i> Add a Photo</a>
  </section>
{% endblock %}
