{% extends 'admin/model/list.html' %}

{% block body %}
  <section>

    <h2>Documents</h2>
    <p>Material visible to partners through the Content Browser.</p>
    <a href="{{ url_for('.create_view', url=return_url) }}" class="btn"><i class="icon-plus"></i> Add a Document</a>
    <hr />

    <table class="table table-hover">
      <tr>
        <th width="36%">Document</th>
        <th>Type</th>
        <th>Categories</th>
        <th>Published</th>
        <td></td>
      </tr>
      {% for document in data %}
        <tr>
          <td>
            <strong>{{ document.title }}</strong>
            <p>{{ document.description[:128] }}{% if document.description[128:] %}&hellip;{% endif %}</p>
          </td>
          <td>
            {% if document.type is none %}
              <span class="muted">none</span>
            {% else %}
              <span class="text-success">{{ document.type }}</span>
            {% endif %}
          </td>
          <td>{{ document.categories | join('<br/>'|safe) }}</td>
          <td>
            {{ document.published | since }}<br/>
            {{ document.published.date() }}
          </td>
          <td>
            <div class="pull-right">
              <nobr>
                <a href="{{ url_for('.toggle_feature', id=document.id) }}" class="btn btn-link" title="Feature on home page">
                  <i class="icon-home {{ 'home-feature' if document.featured else 'home-unfeature' }}"></i>
                  {% if document.featured %}
                    <span class="text-success">featured</span>
                  {% else %}
                    <span class="muted">feature</span>
                  {% endif %}
                </a>
              </nobr>
              <br/>
              <nobr>
                <a href="{{ url_for('.edit_view', id=get_pk_value(document), url=return_url) }}" class="btn btn-link" title="Edit Document">
                  <i class="icon-pencil"></i> edit
                </a>
              </nobr>
              <br/>
              <nobr>
                <a href="{{ url_for('.confirm_delete', id=get_pk_value(document), next=return_url) }}" class="btn btn-link" title="Remove Document">
                  <i class="icon-remove"></i>
                  <span class="text-warning">remove</span>
                </a>
              </nobr>
            </div>
          </td>
        </tr>
      {% else %}
        <tr>
          <td colspan="4">
            <div class="alert">
              <strong>No documents!</strong> There are no documents in the database :(
            </div>
          </td>
        </tr>
      {% endfor %}
    </table>
    {{ lib.pager(page, num_pages, pager_url) }}

  </section>
{% endblock %}
